{% extends 'base.html' %}
{% load i18n %}
{% block title %}查看个人信息{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=page_title %}
{% endblock page_header %}

{% block main %}
    <div id="update_personal_info" class="table_actions clearfix">
      <div id="update_action">
        <a id="personal_info__action_update" class="btn data-table-action btn-default ajax-modal {% if workflow.disable_finalize_button %}disabled{% endif %}" href="{% url 'horizon:settings:personalinfo:update' %}" title="更新个人信息"><span class="fa fa-edit"></span>更改个人信息</a>
      </div>
    </div>
    <div id="update_personal_info_workflow" style="margin-top: 80px">
      {% include 'horizon/common/_workflow.html' %}
    </div>
{% endblock %}

