<script type="text/javascript">
  var shownextline = function(cur, next_id) {
    next = document.getElementById(next_id);
    cur.style.display = "none";
    next.style.display = "";
  };
</script>

<table class="{% block table_css_classes %}table table-striped datatable {{ table.css_classes }}{% endblock %}">
  <thead>
  {% block table_columns %}
    <tr>
      {% for field in form.get_titlefields %}
        {% include 'admin/expertmgmt/_form_table_title_field.html' with field=field %}
      {% endfor %}
      <th></th>
    </tr>
  {% endblock table_columns %}
  </thead>
  {% block table_body %}
  <tbody>
    {% for row in form.get_slices %}
    <tr id="{{ row.id }}" class="{% cycle 'odd' 'even' %} empty" {% if row.hidden %}style="display:none" {% endif %}>
      {% include 'admin/expertmgmt/_form_table_row_field.html' with row=row %}
      <td>
        {% if row.next %}
          <div id="{{row.actionid}}" onclick="shownextline( this, '{{ row.next }}' );" {% if not row.shownext %}style="display:none" {% endif %}>
            <a url="#">+</a>
          </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endblock table_body %}
</table>
