{% comment %}
  A simple placeholder template for custom login form footer content.
  Unlike the login footer, this template places content into the form
  right below the login button. Such as a link to a password reset
  form or other additional links.
{% endcomment %}
<div id="logon_div" style="margin-top:15px">
  <table id="logon_table" width=100%>
    <tbody>
      <tr style="text-align:center">
        <td width=33%><a href='/auth/register/'>注册</a></td>
        <td width=33%><a href='/auth/logout'>找回密码</a></td>
        <td width=33%><a href='/auth/logout'>帮助</a></td>
      </tr>
    </tbody>
  </table>
</div>
